body{
    background-color: black;
    font-family: Inter display thin;
    text-decoration: none;
}
.home-text{
    margin: auto;
    width: auto;
}
.home-text h1{
    text-align: center;
    padding: 10px;
    font-size: 4rem;
    color: white;
}
.home-text h2{
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    color: white;
}
.home-text p{
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: white;
}